{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block body %}

    <header>

        <div class="offcanvas offcanvas-start w-25" id="user-sidebar">
            <div class="offcanvas-header">
              <h1 class="offcanvas-title">Hello, {{ username }}</h1>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <hr>
              <p><a>Profile</a></p>
              <hr>
              <p><a>Purchases</a></p>
              <hr>
              <p><a>Budget</a></p>
              <hr>
              <a href="/logout" class="btn btn-outline-secondary">Logout</a>
            </div>
          </div>

        <nav class="navbar bg-primary bg-gradient navbar-dark">
            <div class="container-fluid">
                <div class="left">
                    <button class="navbar-toggler bg-transparent border" type="button" data-bs-toggle="offcanvas" data-bs-target="#user-sidebar">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                </div>
                  <div class="logo-center d-flex justify-content-center align-items-center">
                    <h1 class="text-white">Budget Tracker</h1>
                  </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mt-1">
            <h2 class="text-center">Transactions</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Money</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not transactions %}
                        <tr>
                            <td colspan="3" class="text-center">No transactions</td>
                        </tr>
                    {% else %}
                        {% for transaction in transactions %}
                        <tr id="{{ transaction.id }}">
                            <td><i class="fas fa-edit edit" data-bs-toggle="modal" data-bs-target="#transactionModal"></i>{{ transaction.category }}</td>
                            <td>P{{ transaction.amount|int }}</td>
                            <td>{{ transaction.date }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <div class="action-btns float-end">
                <button class="btn btn-outline-primary" id="add-btn" data-bs-toggle="modal" data-bs-target="#transactionModal">Add</button>
            </div>
            <div>
                <p>Total Money: <strong>{{ users.weekly_budget }}</strong></p>
            </div>
        </div>

        <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="transactionModalLabel">Add Transaction</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="transaction-form">
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" name="description">
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" class="form-control" id="price" name="price">
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close-btn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-danger" id="delete-btn" style="display:none;">Delete</button>
                        <button type="submit" class="btn btn-outline-primary" id="save-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </main>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="mt-4">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    {% endblock %}

    {% block script %}
    <script>
            
    </script>
       
    {% endblock %}