{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    <header>

        <div class="offcanvas offcanvas-start w-25" id="user-sidebar">
            <div class="offcanvas-header">
              <h1 class="offcanvas-title">Hello, {{ username }}</h1>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <hr>
              <p><a>Profile</a></p>
              <hr>
              <p><a>Purchases</a></p>
              <hr>
              <p><a>Budget</a></p>
              <hr>
              <a href="/logout" class="btn btn-outline-secondary">Logout</a>
            </div>
          </div>

        <nav class="navbar bg-primary bg-gradient navbar-dark">
            <div class="container-fluid">
                <div class="left">
                    <button class="navbar-toggler bg-transparent border" type="button" data-bs-toggle="offcanvas" data-bs-target="#user-sidebar">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                </div>
                  <div class="logo-center d-flex justify-content-center align-items-center">
                    <h1 class="text-white">Budget Tracker</h1>
                  </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mt-1">
            <h2 class="text-center">Transactions</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if not transactions %}
                        <tr>
                            <td colspan="3" class="text-center">No transactions</td>
                        </tr>
                    {% else %}
                        {% for transaction in transactions %}
                        <tr id="{{ transaction.id }}">
                            <td><i class="fas fa-edit edit" data-bs-toggle="modal" data-bs-target="#transactionModal"></i>{{ transaction.category }}</td>
                            <td>P{{ transaction.amount|int }}</td>
                            <td>{{ transaction.date }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <div class="action-btns float-end">
                <button class="btn btn-outline-primary" id="add-btn" data-bs-toggle="modal" data-bs-target="#transactionModal">Add</button>
            </div>
            <div>
                <p>Budget Left: P<strong>{{ users[0]["weekly_budget"] }}</strong></p>
            </div>
        </div>

        <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="transactionModalLabel">Add Transaction</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="transaction-form">
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" name="description">
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" class="form-control" id="price" name="price">
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close-btn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-danger" id="delete-btn" style="display:none;">Delete</button>
                        <button type="submit" class="btn btn-outline-primary" id="save-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>


    <section class="tips-and-guidelines container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h3>Budget Saving</h3>
                <div class="tip mt-3">
                    <p><b>The 50/30/20 rule</b></p>
                    <p>The 50/30/20 budget plan, for those who may not be aware, is an American idea that aims to minimize costs and manage finances wisely. Your income after taxes should be allocated as follows: 50% should go toward necessities, 30% toward wants, and 20% should go toward debt repayment or emergency savings.</p>
                    <p>The 50-30-20 rule, which was popularized by US Senator Elizabeth Warren, a Harvard bankruptcy specialist, requires you to allocate your expenses according to percentages. Following taxes:
                    </p>
                    <ul>
                        <li>You should allocate 50% of your income to necessities (such as groceries, transportation, medication, and the payment of required or minimum bills)</li> 
                        <li>A third of your income should go toward non-essential expenses like luxury clothes, entertainment, superfluous travel, gym subscriptions, and so forth</li>
                        <li>20% should be allocated to debt repayment and savings. Ideally, at least 10% of the 20% should go toward savings and loan and credit card debt repayment.</li>
                    </ul>
                        
                    <p>More can be learned about the 50/20/30 rule <a href="https://www.metrobank.com.ph/articles/learn/50-30-20-budget-plan" target="_blank" rel="noreferrer">here.</a></p>
                </div>
            </div>
            <div class="col md-4">
                <img src="../static/50-30-20.png" alt="Graph of the 50/20/30 rule" class="img-fluid">
            </div>
        </div>
        <p>You can calculate it here.</p>
    </section>

    <section class="container d-flex justify-content-center w-50 p-3 shadow-lg  rounded">
        <div class="container">
            <p class="text-center">50-20-30 Calculator</p>
            <form id="budget-calculator">
                <label>Weekly Budget</label>
                <input type="number" min="1" required placeholder="2500..." class="form-control mt-3" id="budget">
                <button type="submit" class="btn btn-primary mt-3">Calculate</button>
                <p id="result" class="mt-2"></p>
        </div>
    </section>
    </main>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="mt-4">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    {% endblock %}

    {% block script %}
        <script>
            // Calculate 50-30-20 budget based on weekly budget
            const budgetForm = document.getElementById("budget-calculator");
            const weeklyBudget = document.getElementById("budget")
            const result = document.getElementById("result");

            const validateInput = () => {
                if (!weeklyBudget) {
                    result.classList.add("text-danger");
                    result.textContent = "Please input your weekly budget"
                    return false;
                }

                return true;
            }

            const calculateBudget = (e) => {

                if (!validateInput) {
                    return;
                }   

                e.preventDefault();

                const budget = parseInt(weeklyBudget.value);

                const fiftyDivide = budget * 0.5;
                const thirtyDivide = budget * 0.3;
                const twentyDivide = budget * 0.2;

                result.innerHTML = `Divide your budget into: 
                    <br>50%: ${fiftyDivide}
                    <br>30%: ${thirtyDivide}
                    <br>20%: ${twentyDivide}
                `
            }

            budgetForm.addEventListener('submit', calculateBudget)
        </script>
    {% endblock %}
